
{% if action == 'pay-now' %}
    {% set code, error, message = result[1], result[2], result[3] %}

    {% if (code == '' and error == '') %}
	<p>Executable request not found</p>
    {% elseif code != 0 %}
        <p>Error payment API:</p>
	<p>{{ error }}</p>
    {% else %}
	<div class="alert alert-primary col-sm-12 mt-5 mb-5" role="alert">
	    Payer un montant de {{ amount }} E via la plateforme de paiement LCL.
	</div>

        {{ message|raw }}

	<div class="row">
	    <div class="form-group col-sm-3">
		<a id="export" href="{{ url('membership') }}" class="btn btn-info">Return</a>
	    </div>
	</div>
    {% endif %}
{% endif %}
