<h4>Member Space</h4>
{% if member.status == 'cancelled' or member.status == 'revoked' or member.status == 'cancellation' %}
  <div class="card bg-light mb-3">
    <div class="card-header">Information</div>
    <div class="card-body">You are no longer member of this association.</div>
  </div>
{% else %}
  <ul class="nav nav-tabs">
      <li class="nav-item">
	  <a href="#informations" class="nav-link active" data-toggle="tab">Informations</a>
      </li>

      {% if not member.profile.honorary_member %}
	  <li class="nav-item">
	      <a href="#pro-status" class="nav-link" data-toggle="tab">Professional status</a>
	  </li>
      {% endif %}

      {% if flags.payment %}
	  <li class="nav-item">
	      <a href="#payment" class="nav-link" data-toggle="tab">Payment</a>
	  </li>
      {% endif %}

      {% if member.status == 'member' and member.insurance.status != 'running' %}
	  <li class="nav-item">
	      <a href="#insurance" class="nav-link" data-toggle="tab">Insurance</a>
	  </li>
      {% endif %}

      <li class="nav-item">
	  <a href="#documents" class="nav-link" data-toggle="tab">Documents</a>
      </li>

      {% if not flags.candidate %}
	  <li class="nav-item">
	      <a href="#invoices" class="nav-link" data-toggle="tab">Invoices</a>
	  </li>
      {% endif %}
  </ul>

  <div class="tab-content" id="member-space">

      {% partial __SELF__ ~ '::informations' %}

      {% if not member.profile.honorary_member %}
	  {% partial __SELF__ ~ '::pro-status' %}
      {% endif %}

      {% if flags.payment %}
	  {% partial __SELF__ ~ '::payment' %}
      {% endif %}

      {% if member.status == 'member' and member.insurance.status != 'running' %}
	  {% partial __SELF__ ~ '::insurance' %}
      {% endif %}

      {% partial __SELF__ ~ '::documents' %}

      {% if not flags.candidate %}
	  {% partial __SELF__ ~ '::invoices' %}
      {% endif %}

  </div>

  {% put scripts %}
      <script type="text/javascript" src="plugins/codalia/membership/assets/js/member-space.js"></script>
  {% endput %}

{% endif %}
