<h4>{{ texts['membership.member_space'] }}</h4>
{% if member.status == 'cancelled' or member.status == 'revoked' or member.status == 'cancellation' %}
    <div class="card bg-light mb-3">
	<div class="card-header">{{ texts['attribute.information'] }}</div>
	<div class="card-body">{{ texts['member.no_longer_member'] }}</div>
    </div>
{% else %}

    {% if sherlocksResults is not null %}
	{% partial __SELF__ ~ '::sherlocks-response' %}
    {% endif %}

    <ul class="nav nav-tabs">
	<li class="nav-item">
	    <a href="#informations" class="nav-link active" data-toggle="tab">{{ texts['member.tab_informations'] }}</a>
	</li>

	{% if not member.profile.honorary_member %}
	    <li class="nav-item">
		<a href="#pro-status" class="nav-link" data-toggle="tab">{{ texts['member.tab_pro_status'] }}</a>
	    </li>
	{% endif %}

	{% if flags.payment %}
	    <li class="nav-item">
		<a href="#payment" class="nav-link" data-toggle="tab">{{ texts['member.tab_payment'] }}</a>
	    </li>
	{% endif %}

	{% if member.status == 'member' and member.insurance.status != 'running' and not member.profile.honorary_member %}
	    <li class="nav-item">
		<a href="#insurance" class="nav-link" data-toggle="tab">{{ texts['member.tab_insurance'] }}</a>
	    </li>
	{% endif %}

	<li class="nav-item">
	    <a href="#documents" class="nav-link" data-toggle="tab">{{ texts['member.tab_documents'] }}</a>
	</li>

	{% if not flags.candidate %}
	    <li class="nav-item">
		<a href="#invoices" class="nav-link" data-toggle="tab">{{ texts['member.tab_invoices'] }}</a>
	    </li>
	{% endif %}
    </ul>

    <div class="tab-content mt-4" id="member-space">

	{% partial __SELF__ ~ '::informations' %}

	{% if not member.profile.honorary_member %}
	    {% partial __SELF__ ~ '::pro-status' %}
	{% endif %}

	{% if flags.payment %}
	    {% partial __SELF__ ~ '::payment' %}
	{% endif %}

	{% if member.status == 'member' and member.insurance.status != 'running' %}
	    {% partial __SELF__ ~ '::insurance' %}
	{% endif %}

	{% partial __SELF__ ~ '::documents' %}

	{% if not flags.candidate %}
	    {% partial __SELF__ ~ '::invoices' %}
	{% endif %}

    </div>

    <input type="hidden" name="_js_messages" id="js-messages" value="{{ javascriptMessages }}">

    {% put scripts %}
	<script type="text/javascript" src="{{ url('/') }}/plugins/codalia/membership/assets/js/member-space.js"></script>
    {% endput %}

{% endif %}
