<div class="tab-pane fade" id="payment">
{{ form_ajax('onPayment', {flash: ''}) }}
  <div id="payment-modes">
  <table class="table">
  {% if not flags.candidate and not flags.freePeriod and not member.profile.honorary_member %}
    <tr>
      <td>
	Insurance description</br>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </td>
    </tr>
    <tr>
      <td>
	<input type="radio" id="f0" name="insurance_code" value="f0" checked>
	No Insurance
      </td>
    </tr>
    {% for key, insurance in insurances %}
        <tr>
          <td>
            {% set id = key + 1 %}
            <input type="radio" id="f{{ id }}" name="insurance_code" value="f{{ id }}">
            {{ insurance['formula'] }} - ({{ insurance['price'] }} E)
          </td>
        </tr>
    {% endfor %}
  {% endif %}
    <tr>
      <td>
	Subscription description<br />
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </td>
    </tr>
    {% if flags.freePeriod %}
      <tr>
	<td>
	  <input type="radio" id="free-period" name="payment_mode" value="free_period" checked>
	  Free Period
	</td>
      </tr>
    {% else %}
      <tr>
	<td>
	  <input type="radio" id="cheque" name="payment_mode" value="cheque" checked>
	  Cheque payment
	</td>
      </tr>
      <tr>
	<td>
	  <input type="radio" id="paypal" name="payment_mode" value="paypal">
	  Paypal
	</td>
      </tr>
      <tr>
	<td>
	  <input type="radio" id="sherlocks" name="payment_mode" value="sherlocks">
	  LCL
	</td>
      </tr>
    {% endif %}
      <tr>
	<td>
	  <input type="hidden" name="item" value="subscription">
	  <button type="submit" id="btn-payment" class="btn btn-success">{{ (flags.freePeriod) ? texts['action.subscribe'] : texts['action.pay_now'] }}</button>
	</td>
      </tr>
  </table>
  </div>
{{ form_close() }}
</div>

