<p>This is the default markup for component Account</p>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#profile" class="nav-link active" data-toggle="tab">Profile</a>
    </li>
    <li class="nav-item">
        <a href="#documents" class="nav-link" data-toggle="tab">Documents</a>
    </li>
    <li class="nav-item">
        <a href="#informations" class="nav-link" data-toggle="tab">Informations</a>
    </li>
    {% if isPayment %}
      <li class="nav-item">
	  <a href="#payment" class="nav-link" data-toggle="tab">Payment</a>
      </li>
    {% endif %}
</ul>

<div class="tab-content">

  <div class="tab-pane fade show active" id="profile">
    {{ form_ajax('onUpdate', {flash: ''}) }}

	<div class="form-group col-sm-6">
	  <label for="inputFirstname">First Name</label>
	  <input type="text" name="first_name" class="form-control" id="inputFirstname" value="{{ member.profile.first_name }}">
	</div>

	<div class="form-group col-sm-6">
	  <label for="inputLastname">Last Name</label>
	  <input type="text" name="last_name" class="form-control" id="inputLastname" value="{{ member.profile.last_name }}">
	</div>

	<div class="form-group col-sm-6">
	    <label for="accountEmail">Email</label>
	    <input name="email" type="email" class="form-control" id="accountEmail" value="{{ member.profile.user.email }}">
	</div>

	<div class="form-group col-sm-6">
	    <label for="accountPassword">New Password</label>
	    <input name="password" type="password" class="form-control" id="accountPassword">
	</div>

	<div class="form-group col-sm-6">
	    <label for="accountPasswordConfirm">Confirm New Password</label>
	    <input name="password_confirmation" type="password" class="form-control" id="accountPasswordConfirm">
	</div>

	{% if updateRequiresPassword %}
	    <p>To change these details, please confirm your current password.</p>
	    <div class="form-group col-sm-6">
		<label for="accountPasswordCurrent">Current Password <small class="text-danger">* required</small></label>
		<input name="password_current" type="password" class="form-control" id="accountPasswordCurrent">
	    </div>
	{% endif %}

	<div class="form-group col-sm-6">
	  <label for="inputStreet">Street</label>
	  <input type="text" name="street" class="form-control" id="inputStreet" value="{{ member.profile.street }}">
	</div>

	<div class="form-group col-sm-6">
	  <label for="inputPostcode">Postcode</label>
	  <input type="text" name="postcode" class="form-control" id="inputPostcode" value="{{ member.profile.postcode }}">
	</div>

	<div class="form-group col-sm-6">
	  <label for="inputCity">City</label>
	  <input type="text" name="city" class="form-control" id="inputCity" value="{{ member.profile.city }}">
	</div>

	<div class="form-group col-sm-6">
	  <label for="inputCountry">Country</label>
	  <input type="text" name="country" class="form-control" id="inputCountry" value="{{ member.profile.country }}">
	</div>

	<input name="name" type="hidden" id="accountName" value="{{ member.profile.user.name }}">
	<input type="hidden" name="context" value="membership">

	<button type="submit" class="btn btn-success">Save</button>
    {{ form_close() }}
  </div>

  <div class="tab-pane fade" id="documents">
    <!--<form method="POST" action="{{ url('profile') }}" accept-charset="UTF8" enctype="multipart/form-data">-->
    <!--<form data-request="onReplaceFile" data-request-files data-request-flash>-->
    {{ form_ajax('onReplaceFile', {files: 1, flash: ''}) }}

      <!--<input type="hidden" name="_handler" value="onReplaceFile">-->

	{{ form_token() }}
	{{ form_sessionKey }}

      <div id="newFile" class="form-group col-sm-6">
	<a class="btn btn-danger btn-lg" target="_blank" href="{{ member.attestations.first.path }}">
	<span class="glyphicon glyphicon-download"></span>Download</a>
      </div>
      <div class="form-group col-sm-6">
	<label for="inputAttestation">Attestation</label>
	<input type="file" name="attestation" data-request="onUploadDocument" class="form-control" id="inputAttestation" data-request-files data-request-flash>
      </div>
      <button type="submit" class="btn btn-success">Replace</button>
    {{ form_close() }}
  </div>

  <div class="tab-pane fade" id="informations">
      <div class="form-group col-sm-6">
	<label for="inputStatus">Status</label>
	<input type="text" name="_status" disabled="disabled" class="form-control" id="inputStatus" value="{{ member.status }}">
      </div>
      <div class="form-group col-sm-6">
	<label for="inputAppealCourt">Appeal Court</label>
	<input type="text" name="_appeal_court" disabled="disabled" class="form-control" id="inputAppealCourt" value="{{ member.categories|first.name }}">
      </div>
  </div>
  {% if isPayment %}
    <div class="tab-pane fade" id="payment">
    {{ form_ajax('onPayment', {flash: ''}) }}
      <table class="table">
	<tr>
	  <td>
	    <input type="radio" id="cheque" name="payment_mode" value="cheque" checked>
	    Cheque payment
	  </td>
	</tr>
	<tr>
	  <td>
	    <input type="radio" id="paypal" name="payment_mode" value="paypal">
	    Paypal
	  </td>
	</tr>
	<tr>
	  <td>
	    <button type="submit" id="btn-payment" class="btn btn-success">Pay Now</button>
	  </td>
	</tr>
      </table>
    {{ form_close() }}
    </div>
  {% endif %}

</div>
{% put scripts %}
    <script type="text/javascript" src="plugins/codalia/membership/assets/js/member-space.js"></script>
{% endput %}

