{% set members = __SELF__.members %}
{% set appealCourts = __SELF__.appealCourts %}
<p class="h3">Member List</p>

<select class="form-control custom-select col-sm-3">
    <option value="">Select</option>
    {% for appealCourt in appealCourts %}
      <option value="{{ appealCourt.id }}">{{ appealCourt.name }}</option>
    {% endfor %}
</select>

<ul class="list-group list-group-flush">
    {% for member in members %}
        <li class="list-group-item">
	    <p class="h4">{{ member.profile.first_name ~' '~ member.profile.last_name }}</p>
	    <div class="photo">
	    {% if member.photo %}	
	      <img src="{{ member.photo.thumb(thumbSize.width, thumbSize.height, 'auto') }}" />
	    {% else %}
	      <img src="plugins/codalia/membership/assets/img/userportrait.jpg" width="{{ thumbSize.width }}" height="{{ thumbSize.height }}" />
	    {% endif %}
	    </div>
            <p class="info">
	      {{ member.appealCourt.name }}<br />
	      {{ member.profile.street }}<br />
	      {{ member.profile.postcode }}<br />
	      {{ member.profile.city }}<br />
	      {{ member.profile.user.email }}
	    </p>
        </li>
    {% endfor %}
</ul>
