<div class="container">
<p class="h3">Member List</p>
{% put scripts %}
{% endput %}

{{ form_ajax('onFilterMembers', {flash: ''}) }}

<div class="row">
    <div class="form-group col-sm-3">
	<label for="languages">Languages</label>
	<select name="languages[]" class="form-control js-example-basic-multiple" multiple="multiple" data-request="onFilterMembers" id="languages">
	    {% for value, text in languages %}
		<option value="{{ value }}">{{ text }}</option>
	    {% endfor %}
	</select>
    </div>

    <div class="form-group col-sm-2">
	<label for="licence-type">Type</label>
	<select name="licence_type" class="form-control" data-request="onFilterMembers" id="licence-type">
	    <option value="">- All -</option>
	    {% for value, text in licenceTypes %}
		<option value="{{ value }}">{{ text }}</option>
	    {% endfor %}
	</select>
    </div>

    <div class="form-group col-sm-2">
	<label for="expert-skill">Skill</label>
	<select name="expert_skill" class="form-control" data-request="onFilterMembers" id="expert-skill">
	    <option value="">- All -</option>
	    <option value="interpreter">Interpreter</option>
	    <option value="translator">Translator</option>
	</select>
    </div>

    <div class="form-group col-sm-3">
	<label for="appeal-courts">Appeal courts</label>
	<select name="appeal_court_ids[]" class="form-control js-example-basic-multiple" multiple="multiple" data-request="onFilterMembers" id="appeal-courts">
	    {% for value, text in appealCourts %}
		<option value="{{ value }}">{{ text }}</option>
	    {% endfor %}
	</select>
    </div>

    <div class="form-group col-sm-3">
	<label for="courts">Court</label>
	<select name="court_ids[]" class="form-control js-example-basic-multiple" multiple="multiple" data-request="onFilterMembers" id="courts">
	    {% for value, text in courts %}
		<option value="{{ value }}">{{ text }}</option>
	    {% endfor %}
	</select>
    </div>
</div>

    <button type="button" data-request="onFilterMembers" id="reset-filters"
			  class="btn btn-success" id="">Reset</button>
{{ form_close() }}

<div id="members">
    {% partial '@members' %}
</div>
</div>

{% put scripts %}
    <link href="plugins/codalia/membership/assets/vendor/select2-4.0.13/css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript" src="plugins/codalia/membership/assets/vendor/select2-4.0.13/js/select2.min.js"></script>
    <script type="text/javascript" src="plugins/codalia/membership/assets/js/member-list.js"></script>
{% endput %}
