{%  set profiles =__SELF__.profiles %}
<ul class="list-group list-group-flush">
    {% for profile in profiles %}
        <li class="list-group-item">
	    <p class="h4">{{ profile.first_name ~' '~ profile.last_name }}</p>
	    <div class="photo">
	    {% if profile.member.photo %}	
	      <img src="{{ profile.member.photo.thumb(thumbSize.width, thumbSize.height, 'auto') }}" />
	    {% else %}
	      <img src="plugins/codalia/membership/assets/img/userportrait.jpg" width="{{ thumbSize.width }}" height="{{ thumbSize.height }}" />
	    {% endif %}
	    </div>
            <p class="info">
	      {{ profile.street }}<br />
	      {{ profile.postcode }}<br />
	      {{ profile.city }}<br />
	      {{ profile.user.email }}
	    </p>
        </li>
    {% endfor %}
</ul>
